* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(230, 230, 112);
    height: 150px;
    width: 100%;
    font-size: 200%;
    text-decoration: none;

}

#head-left {
    float: left;
    margin-left: 30px;

}

#head-right {
    float: right;
    margin-right: 30px;
    list-style-type: none;

}

.list {
    text-decoration: none;

}

.active {
    border-bottom: 1px solid blueviolet;
}

/*
#island-one {
    background: url(../images/Filicudi5.jpeg) no-repeat center center;
    height: 600px;
    width: 33%;
    margin: 0 auto;
}*/

.prize-pic {
    border: 1px solid blue;
    height: 600px;
    display: inline-flexbox;
}

#leftbox {
    height: 300px;
    width: 300px;

    float: left;
    margin-top: 30px;
    margin-left: 30px;
}


#heading {
    text-align: center;
    font-size: 300%;
}

#middlebox {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}

#rightbox {
    height: 300px;
    width: 300px;
    margin-right: 2%30px;
    float: right;
    margin-top: 30px;
    text-align: right;
}

.about-us {
    font-size: x-large;
    text-align: center;
    height: 300px;
}



footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;


}

.social-networks>li {
    display: inline;
}

.island-desc {
    display: flex;
    height: 450px;
}

#picture-two {
    height: 300px;
    width: 450px;
    background: url(../images/Filicudi3.jpeg) no-repeat;
    background-size: cover;
    padding-top: 10px;
}

#text-two {
    height: 300px;
    width: 300px;
    margin: auto;
}

#text-three {
    height: 300px;
    width: 300px;
    margin: auto;
}

#text-four {
    height: 300px;
    width: 300px;
    margin: auto;
}

.prize-details {

    height: 450px;
    display: flex;
}

#text-five {
    height: 300px;
    width: 300px;
    margin: auto;
}

#filicudi-one {
    height: 300px;
    width: 300px;
    background: cover;
}

#text-six {
    height: 300px;
    width: 300px;
    margin: auto;
}

#form-section {
    background-color: aqua;
    background: cover;
    height: 900px;
    width: 100%;
}

#signup {
    height: 750px;
    width: 50%;
}