* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(230, 230, 112);
    height: 150px;
    width: 100%;
    font-size: 200%;
    text-decoration: none;

}

#head-left {
    float: left;
    margin-left: 30px;

}

#head-right {
    float: right;
    margin-right: 30px;
    list-style-type: none;

}

.list {
    text-decoration: none;

}

.active {
    border-bottom: 1px solid blueviolet;
}

/*
#island-one {
    background: url(../images/Filicudi5.jpeg) no-repeat center center;
    height: 600px;
    width: 33%;
    margin: 0 auto;
}*/

#prize-pic {
    border: 1px solid blue;
    background: url(../images/Filicudi5.jpeg) no-repeat center center;
    height: 600px;
    display: block;


}

#prize-pic h2 {
    text-align: center;
    font-size: xxx-large;
}

#middlebox {
    width: 33%;
    margin: 0 auto;
    padding: 10px;
    clear: both;


}

#leftbox {
    float: left;
    width: 33%;
    padding: 30px;
    margin-right: 5px;
    text-align: left;
    font-size: 100%;


}

#button {}

#rightbox {
    float: right;
    width: 33%;
    margin-right: 20px;
    text-align: right;
    font-size: 100%;
}

.about-us {
    font-size: x-large;
    text-align: center;
}



footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;


}

.social-networks>li {
    display: inline;
}

#prize-desc {
    display: block;
}

#picture-two {
    height: 600px;
    width: 50%;
    background: url(../images/Filicudi3.jpeg) no-repeat center center;
    background-size: cover;
}

.text-two {
    height: 600px;
    width: 50%;
    float: right;
    text-align: right;
    display: block;
}