@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

body {
    font-family: Poppins, sans-serif;
}

#title {

    color: rgb(223, 19, 124);
    text-align: center;
}

#menu {
    position: inherit;
    display: inline-block;
}